@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*, div, html {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
}

.content {
    /* TRUCO PARA AJUSTE 100%: 
       Invertimos dimensiones porque al rotar 90deg, 
       el ancho de la TV pasa a ser el alto de tu diseño. */
    width: 100vh; 
    height: 100vw;
    
    /* Centrado y rotación */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Crea 4 columnas de 1 parte cada una */
    /* gap: .5rem; */

    box-sizing: border-box; /* Importante para que el borde no sume tamaño */
}

/* Configuración general de los bordes */
/* .content::before,
.content::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url('borde.png');
    background-repeat: repeat-x;
    background-size: contain;
    animation: moverBorde 30s linear infinite;
} */

/* Borde Superior */
.content::before {
    top: -10px;
}

/* Borde Inferior */
.content::after {
    bottom: 0;
    transform: scaleX(-1); /* Opcional: invierte la imagen para variedad */
}

/* Animación de movimiento infinito */
@keyframes moverBorde {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

.column {
    width: 100%;
    height: 100%;
    /* background: rgba(209, 133, 133, 0.959); */
    overflow: hidden;
    padding: 2px;
}

.title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.flavors {
    text-transform: uppercase;
    padding: 0px;
    list-style: none;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.red {
    color: rgb(236, 69, 69);
}
.brown {
    color: rgb(104, 98, 20);
}
.dark {
    color: #252525;
}
.blue {
    color: rgb(101, 101, 199);
}


.btn-fs {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
    font-family: sans-serif;
}

.btn-fs:hover {
    background: rgba(0, 0, 0, 0.5);
}